body{
    margin: 0;
    padding: 0;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    font-size: 15px;
}

h1{
    font-size: 40px;
    font-weight: 600;

}

p{
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    text-align: justify;
}


.my-name{
    color: coral;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
    background-position: left;
    box-sizing: border-box;
    margin: auto;
    width: 80%;
    min-height: 200px;
   
}

.half-width{
    margin-left: 5%;
    width: 40%;
    padding: 2%;
    float: left;
}

section img{
    width: 100%;
}


.link-button{
    text-decoration: none;
    font-weight: 500;
    color: white;
    background-image: linear-gradient(45deg, #0084ff, #262691);
    padding: 10px 20px;
    border-radius: 5px;
}

.latest-works{
    margin: auto;
    width: 80%;
    overflow: hidden;
    min-height: 400px;
}

.latest-works h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: bebas neue;
    letter-spacing: .02em;
    margin-bottom: 20px;
    
}

header{
    padding: 30px;
    min-height: 70px;
    border: solid 1px red;
}

.container{
    margin: auto;
    width: 80%;
    overflow: hidden;
}

.container a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0;

}

nav{
    float: right;
    margin-top: 20px;
}

header li{
    float: left;
    display: inline;
    padding: 0px 20px 0px 20px;
}

.box{
    float: left;
    width: 30%;
    padding: 15px;
    text-align: center;
    text-align: justify;
    margin: auto;
    box-shadow: 5px 5px 2px rgb(218, 218, 218);
    border-radius: 5px;
    height: 80%;

}

.boxes img{
    width: 300px;
    padding: 10px;
    margin: auto;
}

.box p{
    font-family: 'Roboto', sans-serif;
}

.boxes{
    padding-bottom: 20px;
}

.work-inquary{
    background-image: url("shapes/Group_33094_2.png");
    background-repeat: no-repeat;
    min-height: 150px;
    width: 60%;
    margin: auto;
    margin-top: 100px;
    margin-right: 150px;
}

.work-inquary h3{
    padding-top: 50px;
    padding-left: 50px;
    float: left;
}

.work-inquary a{
    float: right;
    text-decoration: none;
    font-weight: 500;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(45deg, #eb8c20, #ff0202);
    padding: 10px 20px;
    border-radius: 5px;
    
}

.work-inquary h3, a{
    display: inline;;
}

